@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
* {
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
    list-style: none;
    font-size: medium;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

input {
    width: 700px;
    height: 50px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.enfant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: 0.6s;
    width: 300px;
    height: 100px;
    margin: 10px;
}

.enfant:hover {
    transform: scale(1.1);
    border: 2px solid rgb(255, 252, 218);
}

.btn {
    background-color: #6d071a;
    width: 217px;
    border-radius: 5px;
    height: 50px;
    transition: 0.4s;
    color: white;
    border: none;
    font-size: large;
}

.btn:hover {
    background-color: #d48484ce;
    transform: scale(1.1);
}

h2 {
    margin: 0;
}